#bodyindex {
    margin-top:20%;
    margin-bottom: 20%;
}

.social {
    text-align: center;
    display:flex;
    border:solid 3px black
}

#piepag {
    display:flex;
    text-align:right
}

p,h2,h3 {
    display:flex;
    font-size: 15px;
    text-align: center; 
    width:700px;
    font-family: "Courier New";  
}

h2:hover, h3:hover {
    background-color: black;
    font-weight: bold;
    
}

#contacform {
    margin-top: 25px;
}

h4 {
    margin-top: 120px;
}

h4:hover{
    background-color: black;

}

button {
    align-items: center;
}

#styleform {
    margin-left: 100px;
    margin-right: 80px;
}