form {
    margin-top: 25px;
    
}

h4 {
    margin-top: 120px;
    margin-left: 150px;;
    margin-right: 200px;
    margin-bottom: 60px;
    align-items: center;
    
}


#logincliente {
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 200px;
    margin-bottom: 120px;
}

label:hover {
    background-color: black;
}

footer {
    text-align: center;
    height:100px;
}