/*paginas*/

.piedepagina {
    position:relative;
    font-weight: bold;
    top: 15px;
    background-color: rgb(40, 40, 41);   
    display:flex;
    align-items: center;
    color: grey;

}

.container {
    align-items: center;
    display:flex;

}




.bodyprincipal {
    color: grey;
    font-size: 20px;
    font-style: inherit;
    
}


p {
    text-align:center;
    font-weight: bold;
}

h1 {
    text-align:left;
}


/* carrusel trabajos */
