.piedepagina {
    position:relative;
    font-weight: bold;
    top: 15px;
    background-color: rgb(40, 40, 41);
}

h5 {
    color: red;
}

#logoNavBar {
    width: 35px;
    height: 35px;
}

h1 {
    margin-top: 150px;
    margin-bottom: 400px;;
}